<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h2>Search</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post" action="/search">
        <label for="search_query">Search:</label>
        <input type="text" name="search_query" required>
        <input type="submit" value="Search">
    </form>
    {% if books %}
        <h3>Search Results:</h3>
        <ul>
            {% for book in books %}
                <li><a href="/book?isbn={{ book.isbn }}">{{ book.title }} by {{ book.author }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
